@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">All About My Hobby: Surfing</h1>
    </div>
    <div>
        <img src="~/images/Kothlow_Maldives_Board_Samples_0162_Original (1).JPG" 
             alt="Surfing in Maldives" 
             class="img-fluid rounded mb-4" 
             width="400"/>
        <img src="~/images/IMG_4817.JPG" 
             alt="Gavin and Autumn" 
             class="img-fluid rounded mb-4" 
             width="400"/>
        <p class="lead">Surfing has always been more than just a hobby to me — it’s been a constant part of growing up in San Clemente. Living so close to the ocean, the beach became a second home, and surfing taught me patience, resilience, and respect for nature at an early age. It’s where I learned how to slow down, stay present, and push through challenges, whether that meant wiping out or waiting for the right wave. Beyond the physical benefits of strength and endurance, surfing has given me mental clarity, confidence, and a deep connection to where I grew up and who I am.</p>
        <p class="lead">Surfing is also something I love sharing with my wife and close friends, and that makes it even more meaningful to me. Whether we’re paddling out together at sunrise or laughing about wipeouts afterward, it’s a way to stay connected and present with the people I care about most. It keeps me active and healthy without ever feeling like a chore, blending physical movement with fun and community. Surfing has given me not just an outlet, but a social rhythm — a reason to show up, stay energized, and keep building relationships in and out of the water. </p>
    </div>

</div>
