@{
    ViewData["Title"] = "Surf Lessons";
}
<h1>Sign Up For Surf Lessons!</h1>

<p>I would love the opportunity to teach you how to do the sport that has brought me so much joy. 
    <br/> <br/>
    Use this calculator to determine how much it costs: </p>
    
<div class="align-content-center p-4 border border-3 rounded bg-white">
    <h3 >Hourly Rate: $@ViewData["hourlyRate"]</h3>
    <form>
        <label>How many 1 hour sessions do you want?</label>
        <select id="numSessions">
            <option value="1">1 Session</option>
            <option value="2">2 Sessions</option>
            <option value="3">3 Sessions</option>
        </select>
        <button type="button" id="submitBtn">Calulate Total</button>

        <div class="mt-3">
            <label class="form-label fw-bold">Total Cost</label>
            <input type="text"
                   id="txtTotal"
                   class="form-control"
                   readonly
                   placeholder="$0.00"/>
        </div>
    </form>
    
</div>
<script>
    const hourlyRate = @ViewData["hourlyRate"];
</script>